body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #de44c7, #ec87d4, #9b81d2);
}

.main{
    margin-left: 310px;
    width: 480px;
    height: 610px;
    background: red;
    overflow: hidden;
    background:  no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}
#chk{
    display: none;
}
.signin{
    position: relative;
    width:100%;
    height: 100%;
}
h2{
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}
input{
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
button:hover{
    background: #6d44b8;
}
.login{
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}
.login label{
    color: #573b8a;
    transform: scale(.6);
}

.navbar > li {
    text-decoration: none;
    color: white;
    border-bottom: 5px solid  transparent;
    transition: all .5s ease-out;
}

.navbar > li{
    display:inline;
}


.navbar > li a:hover {
    color: rgb(238, 231, 236);
}

.text-right{
    text-align: left;
}


.text-black{
    color: black;
    font-weight: bold;
    font-size: large;
}

.btn{
    border-color: #a2afc0;
    fill: #a0aec0;
    border-radius: 7px;

}

.m-1{
    margin: 10px;
}

.m-r-1{
    margin-left: 400px;
}

.m-l-2{
    margin-left: 87px;
}

.m-l-3{
    margin-left: 88px;
}

.m-r-2{
    margin-right: 400px;
}

.m-b{
    margin-bottom: 85px;
}


.m-b-1{
    margin-bottom: 60px;
}


.p-1{
    padding: 10px;
}

.p-t-1{
    padding-top: 9px;
}

.p-b-1{
    padding-bottom: 9px;
}

.p-b-2{
    padding-bottom: 12px;
}

.p-l-1{
    padding-left: 240px;
}

.p-l-2{
    padding-left: 220px;
}

.border-radius{
    border-radius: 6px;
}



